{% extends "scheduler/base.html" %}

{% block content %}

<h2>Dummy Users</h2>

<a href="{% url 'home' %}" class="btn btn-secondary mb-3">
    Home
</a>

<table class="table table-bordered table-striped">

    <thead class="table-dark">

        <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Email</th>

        </tr>

    </thead>

    <tbody>

    {% for user in users %}

        <tr>

            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}